.homePage{
    display: flex;
    flex-direction: column;
    /* background-color: red; */
}

/* HeroComponent */

.heroComponent{
    z-index: 1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100svh;
}

.homePageHook {
    z-index: 1;
    margin: 0;
    font-size: clamp(1.5rem, 3vw, 6rem);
    padding: 1rem;
    word-wrap: normal;
    text-shadow: -8px 4px 5px black;
    margin-right: 2rem;
    text-align: center;
}

.brandName{
    color: #c77b00;
    font-size: clamp(2rem, 4vw, 6.2rem);
}

.mainPic{
    z-index: 1;
    width: auto;
    height: clamp(10rem, 70vw, 40rem);
}

.exploreBtn{
    text-decoration: none;
    color: black;
    text-shadow: none;
    background-color: #c77b00;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    display: inline-block;
}

.backSlogan{
    z-index: 0;
    margin: 0;
    position: absolute;
    bottom: 2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.04);
    font-size: clamp(1.5rem, 8vw, 30rem);
}

@media (max-width: 1000px) {
    .homePage{
        flex-direction: column;
        justify-content: center;
    }
    .mainPic{
        z-index: 1;
        width: auto;
        height: clamp(15rem, 50vw, 30rem);
    }
    .homePageHook{
        margin: 0;
        margin-bottom: 3rem;
    }
}

/* ExerciseSearch component */

.searchContainer{
    display: flex;
    flex-direction: row;
    height: 1.5em;
    margin: 1rem 3rem;
    border-radius: 20px;
    overflow: hidden;
    background-color: green;
    font-size: clamp(1.5rem, 3vw, 5rem);
}

.searchContainer input{
    flex: 1;
    padding-left: 1rem;
}

.searchContainer button{
    flex: 0.2;
    background-color: #c77b00;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    font-size: large;
}

/* HorizontalScrollBar component */

.horizontalScrollBar{
    /* background-color: green; */
    /* display: flex; */
    /* justify-content: center; */
    margin: 4em;
}

.leftArrow, .rightArrow{
    z-index: 1;
    height: 40px;
    cursor: pointer;
}

.rightArrow{
    margin-right: 20px;
}

.leftArrow{
    margin-left: 20px;
}


/* BodyPart component */
.bodyPart{
    margin: 4em;
    text-align: center;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.bodyPart:hover{
    border-bottom: 3px solid rgba(199, 123, 0, 70%);
    padding-bottom: 5px;
    scale: 1.1;
}

.bodyPart p{
    font-size: x-large;
    margin: 0;
}

.bodyPart img{
    /* background-color: gold; */
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.categorySelected{
    border-bottom: 3px solid rgba(199, 123, 0, 70%);
    padding-bottom: 5px;
}

/* Exercises Component */

.exercisesComponent{
    margin: 3em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exercisesComponent h2{
    margin: 2em;
}

.exercisesContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 4em;
    grid-row-gap: 3em;
}

/* ExerciseBox Component */

.exerciseBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: #c77b00; */
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    overflow: hidden;
}

.exerciseBox img{
    background-color: white;
    width: 100%;
}

.exerciseInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 5px solid #c77b00;
}

.musclesInvolved{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin: 0;
}

.musclesInvolved p{
    font-size: small;
    background-color: gray;
    padding: 10px 8px;
    border-radius: 10px;
    margin-bottom: 0;
}