.homePage{
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
}

/* HeroComponent */

.heroComponent{
    z-index: 1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100svh;
}

.homePageHook {
    z-index: 1;
    margin: 0;
    font-size: clamp(1.5rem, 3vw, 6rem);
    padding: 1rem;
    word-wrap: normal;
    text-shadow: -8px 4px 5px black;
    margin-right: 2rem;
    text-align: center;
}

.brandName{
    color: #c77b00;
    font-size: clamp(2rem, 4vw, 6.2rem);
}

.mainPic{
    z-index: 1;
    width: auto;
    height: clamp(10rem, 70vw, 40rem);
}

.exploreBtn{
    text-decoration: none;
    color: black;
    text-shadow: none;
    background-color: #c77b00;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    display: inline-block;
}

.backSlogan{
    z-index: 0;
    margin: 0;
    position: absolute;
    bottom: 2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.04);
    font-size: clamp(1.5rem, 8vw, 30rem);
}

@media (max-width: 1000px) {
    .homePage{
        flex-direction: column;
        justify-content: center;
    }
    .mainPic{
        z-index: 1;
        width: auto;
        height: clamp(5rem, 50vw, 30rem);
    }
    .homePageHook{
        margin: 0;
        margin-bottom: 3rem;
    }
}

@media (max-width: 1000px) and (orientation: portrait) {
    .heroComponent{
        flex-direction: column;
    }
}

/* ExerciseSearch component */

.searchContainer{
    display: flex;
    flex-direction: row;
    height: 1.5em;
    margin: 1rem 3rem;
    border-radius: 20px;
    overflow: hidden;
    font-size: clamp(1.5rem, 3vw, 5rem);
}

@media (max-width: 360px){
    .searchContainer{
        display: flex;
        flex-direction: column;
        height: 4em;
        margin: 1.5rem 0.5rem;
        border-radius: 0;
    }
    .searchContainer input{
        flex: 1 !important;
        text-align: center !important;
        margin-bottom: 1rem;
        border-radius: 10px;
        padding: 0 !important;
    }
    .searchContainer button{
        width: 50% !important;
        align-self: center;
        border-radius: 10px;
        flex: 1 !important;
    }
}

.searchContainer input{
    flex: 1;
    padding-left: 0.5rem;
    font-size: clamp(0.8rem, 1.4vw, 2em);
}

.searchContainer button{
    width: max-content;
    padding: 0px 1em;
    background-color: #c77b00;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    font-size: clamp(1rem, 3vw, 5rem);
}

/* HorizontalScrollBar component */


.scrollBarContainer{
    position: relative;
}

.leftArrow, .rightArrow{
    z-index: 1;
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: -1rem;
}

.rightArrow{
    right: 20px;
}

.leftArrow{
    left: 20px;
}


/* BodyPart component */
.bodyPart{
    margin: 4em;
    text-align: center;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
}

.bodyPart:hover{
    border-bottom: 3px solid rgba(199, 123, 0, 70%);
    padding-bottom: 5px;
    scale: 1.1;
}

.bodyPart p{
    font-size: x-large;
    margin: 0;
}

.bodyPart img{
    width: 100px;
    height: 100px;
    object-fit: contain;
}

@media (max-width: 550px) {
    .bodyPart{
        margin: 2em;
    }
    .bodyPart img{
        width: 60px;
        height: 60px;
    }
    .bodyPart p{
        font-size: larger;
        margin: 0;
    }
    .leftArrow, .rightArrow{
        height: 30px;
    }
}

@media (max-width: 300px) {
    .bodyPart{
        margin: 1em;
    }
    .bodyPart img{
        width: 40px;
        height: 40px;
    }
    .bodyPart p{
        font-size: large;
        margin: 0;
    }
    .leftArrow, .rightArrow{
        height: 20px;
    }
}

.categorySelected{
    border-bottom: 3px solid rgba(199, 123, 0, 70%);
    padding-bottom: 5px;
}

/* Exercises Component */

.exercisesComponent{
    margin: 3em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.exercisesComponent h2{
    margin: 2em;
    font-size: clamp(1rem, 2vw, 5rem);
}

.exercisesContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 4em;
    grid-row-gap: 3em;
    min-height: 100vh;
}

.exercisesContainerLessThan4{
    grid-template-columns: repeat(3, 1fr) !important;
    grid-template-rows: auto !important;
    min-height: 0;
}

@media (max-width: 800px) {
    .exercisesContainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 3em;
        grid-row-gap: 2em;
    }
}

@media (max-width: 550px) {
    .exercisesContainerLessThan4{
        grid-template-columns: repeat(1, 1fr) !important;
        grid-template-rows: auto !important;
    }
    .exercisesContainer{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-column-gap: 3em;
        grid-row-gap: 2em;
    }
    .pulse{
        flex: none !important;
        height: 50dvh !important;
    }
}

.paginationButtons{
    margin-top: 3em;
    display: flex;
    font-size: 2vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 2em;
    list-style: none;
    z-index: 10;
    padding: 0;
}

@media (max-width: 880px){
    .paginationButtons{
        gap: 1em;
    }
}

@media (max-width: 700px){
    .paginationButtons{
        gap: 0.5em;
        font-size: 1.8vh;
    }
}

@media (max-width: 540px){
    .paginationButtons{
        font-size: 1.2vh;
    }
}

@media (max-width: 440px){
    .pageButtons, .break{
        display: none;
    }
    .paginationButtons{
        font-size: 1.8vh;
    }
    .paginationActive .pageButtons{
        display: flex;
    }
}

.pageButtons{
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.pageButtons:hover{
    background-color: black;
    color: rgb(231, 192, 54);
}

.previousButton, .nextButton{
    cursor: pointer;
    color: black;
    background-color: #c77b00;
    padding: 10px 12px;
    border-radius: 10px;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.paginationActive{
    display: inline-flex;
    background-color: #c77b00;
    border-radius: 10px;
    color: black;
}

.previousButton:hover, .nextButton:hover{
    background-color: black;
    color: rgb(231, 192, 54);
}

/* ExerciseBox Component */

.exerciseBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-weight: bold;
    border-radius: 20px;
    overflow: hidden;
    max-width: 360px;
    max-height: 440px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.exerciseBox:hover{
    scale: 1.05;
}

.pulse {
    width: 100%;
    height: 100%;
    animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
    0%,
    100% {
      opacity: 1;
      background-color: lightgrey;
    }
    50% {
      opacity: 0.5;
      background-color: white;
    }
}

.imageContainer{
    flex: 2;
    object-fit: cover;
    overflow: hidden;
}

.exerciseBox img{
    background-color: white;
    height: 100%;
    width: 100%;
}

.exerciseInfoContainer{
    display: flex;
    flex: 1;
    height: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: 5px solid #c77b00;
}

.musclesInvolved{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5em;
    margin: 0px 10px;
    overflow: auto;
    width: 100%;
}

.musclesInvolved p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    background-color: #C77B00;
    padding: 8px 10px;
    border-radius: 20px;
}

.exerciseName{
    width: 95%;
    text-align: center;
    word-break: normal;
    font-size: x-large;
    margin: 10px 0px;
}

@media (max-width: 700px) {
    .exerciseName{
        font-size: large;
        margin: 5px 0px;
    }
}