.homePage{
    display: flex;
    flex-direction: column;
}

.heroComponent{
    z-index: 1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    height: 100svh;
}

.homePageHook {
    z-index: 1;
    margin: 0;
    font-size: clamp(1.5rem, 3vw, 6rem);
    padding: 1rem;
    word-wrap: normal;
    text-shadow: -8px 4px 5px black;
    margin-right: 2rem;
    text-align: center;
}

.brandName{
    color: #c77b00;
    font-size: clamp(2rem, 4vw, 6.2rem);
}

.homePage img{
    z-index: 1;
    width: auto;
    height: clamp(10rem, 70vw, 40rem);
}

.exploreBtn{
    text-decoration: none;
    color: black;
    text-shadow: none;
    background-color: #c77b00;
    padding: 1rem 1.5rem;
    border-radius: 20px;
    display: inline-block;
}

.backSlogan{
    z-index: 0;
    margin: 0;
    position: absolute;
    bottom: 2rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.04);
    font-size: clamp(1.5rem, 8vw, 30rem);
}

@media (max-width: 1000px) {
    .homePage{
        flex-direction: column;
        justify-content: center;
    }
    .homePage img{
        z-index: 1;
        width: auto;
        height: clamp(15rem, 50vw, 30rem);
    }
    .homePageHook{
        margin: 0;
        margin-bottom: 3rem;
    }
}