.homePage{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100svh;
}

.homePageHook {
    margin: 0;
    font-size: clamp(1rem, 3vw, 6rem);
}

.homePageHook b{
    color: #ffd746;
    line-height: 5rem;
}

.homePage img{
    height: 80%;
}