nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 4.5rem;
    padding: 1rem 2rem;
    align-items: center;
    font-size: clamp(1rem, 2vw, 5rem);
    z-index: 10;
}

.logoContainer {
    height: 100%;
    object-fit: contain;
    display: flex;
    align-items: center;
}

.logoContainer img {
    height: 100%;
}

.navLinks{
    margin-left: 5rem;
    display: flex;
    gap: 5rem;
    justify-content: space-between;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navLinks a{
    text-decoration: none;
    color: #cedad4;
    transition: color 0.2s ease-in-out;
}

.navLinks a:hover{
    color: #c77b00;
}

@media (max-width: 500px) {
    nav{
        padding: 0.5rem;
    }
    .navLinks{
        margin-left: 2rem;
    }
    .logoContainer img {
        height: 80%;
    }
}

@media (max-width: 350px) {
    .navLinks{
        margin-left: 1rem;
        gap: 1rem;
    }
    .logoContainer img {
        height: 60%;
    }
}