html{
    height: 100%;
}

body{
    min-height: 100%;
    background-attachment: fixed;
    background-image: linear-gradient(
        45deg,
        hsl(231deg 8% 18%) 0%,
        hsl(231deg 12% 11%) 49%,
        hsl(0deg 0% 0%) 100%
    );
    margin: 0;
    padding: 0;
    color: #cedad4;
}

.loadingContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(25, 26, 31);
    display: grid;
    place-items: center;
}

.loading {
    border: 16px solid rgb(42, 43, 50);
    border-top: 16px solid #D57D00;
    border-radius: 50%;
    width: 140px;
    height: 140px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
}

.notFound{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1.5rem, 2.5vw, 5rem);
    gap: 3rem;
}

.fourOfour{
    font-weight: bold;
    font-size: clamp(3.5rem, 6vw, 10rem);
}

.goBack{
    margin-top: 2rem;
    color: #D57D00;
}